@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --onyx: #3d3d3d;
  --lightning-yellow: #fdd62c;
  --sn-yellow: #fada5e;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  color: white;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  background-color: var(--onyx);
  min-width: fit-content;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

button {
  text-align: center;
  border-radius: 0.4rem;
  padding: 0.25rem 0.75rem;
}

.gray-button {
  @apply bg-neutral-800;
  @apply border;
  @apply border-neutral-400;
  @apply text-neutral-400;
}
.gray-button:hover {
  @apply bg-neutral-400;
  @apply text-white;
}

.yellow-button {
  background-color: var(--lightning-yellow);
  color: black;
}
.yellow-button:hover {
  background-color: var(--sn-yellow)
}

.text-button {
  @apply text-neutral-400;
  cursor: pointer;
  caret-color: transparent;
  user-select: none;
}

.text-button:hover {
  @apply text-neutral-200;
}

th, td {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
